################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/KazNU.NRDC/GUI/bin/Debug/net6.0-windows
/src/KazNU.NRDC/GUI/obj
/.vs
/src/KazNU.NRDC/.vs/KazNU.NRDC
/src/KazNU.NRDC/GUI/GUI.csproj.user
/src/out
/out
/src/KazNU.NRDC/NuclearData/obj/Debug
/src/KazNU.NRDC/.vs/ProjectEvaluation
/src/KazNU.NRDC/TestNuclearData/obj/Debug
/src/KazNU.NRDC/NuclearCalculation/obj/Debug
